@model Movie

@{
    ViewData["Title"] = "This movie";
}

<div class="text-center">
    <h1>@Model.Title</h1>

    <div>
        <strong>Title: </strong>@Model.Title <br>
        <strong>Genre: </strong>@Model.Genre <br>
        <strong>Releaseyear: </strong>@Model.ReleaseYear <br>
        
        @foreach (var actor in Model.Actors)
        {
            <a href="/Home/this_actor_movies/@(actor.Id)">
                @actor.FirstName 
                @actor.LastName
            </a>
        }
        
    </div>


</div>

