@model Actor

@{
    ViewData["Title"] = "This actor";
}

<div class="text-center">
    <h1>About @Model.FirstName</h1>

        <strong>Name: </strong>@Model.FirstName @Model.LastName <br>
        <strong>Birthyear: </strong>@Model.BirthYear <br>
        <strong>Movielist</strong> <br>

        @foreach (var movie in Model.Movies)
        {
            <a href="/Home/this_movie/@(movie.Id)">
                @movie.Title <br>
            </a>
        }

</div>